.producto-lista {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.producto-lista-header {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.producto-lista-header h2 {
	text-align: left;
	padding: 110px;
	margin: 0;
	font-size: 2rem;
}

.ProductCard {
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 70px;
	padding: 0 70px 70px 70px;
}