:root {
  font-family: "Prompt";
  background-color: #fcefe0;
  height: 100vh;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #c46f0f;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);
}

.light {
  background-color: #fcefe0;
  color: #1f1f1f;
  min-height: 100vh;
  padding-bottom: 50px;
}

.dark {
  background-color: #1f1f1f;
  min-height: 100vh;
  padding-bottom: 50px;
}

.light .theme-button {
  background-color: #1f1f1f;
  color: #ffffff;
}

.dark .theme-button {
  background-color: #ffffff;
  color: #1f1f1f;
}

.dark .header .logo {
  color: #fff;
}

.dark .producto-lista-header h2 {
  color: #fff;
}

.dark .card-container {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.253);
}

.dark .nav__link--active {
  box-shadow: 5px 5px 10px rgba(253, 253, 253, 0.203);
}

.dark .conteinerDescrip .status {
  color: #fff;
}

.dark .detail {
  background-color: #fcefe0;
  box-shadow: 10px 10px 10px rgba(253, 253, 253, 0.203);
}

.dark .container {
  background-color: #1f1f1f;
}

.container {
  max-width: 700px;
  margin: 0px auto;
  background: white;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.subtitle {
  margin-top: 0;
  font-size: 25px;
  padding-bottom: 15px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 120px 120px;
  gap: 10px;
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background: #111;
  color: white;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.error {
  color: #b00020;
}